:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 1em;
  /* padding: 0.6em 1.2em;  */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  background-color: darkblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.task {
  color: red;
  border: 2px solid red;
}

.page {
  height: 900px;
  width: 800px;
  border: 2px solid blue;
}

.page2 {
  display: flex;
  border: 10px solid darkred;
}

.side {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.feeds {
  width: 800px;
  border: 4px solid blue;
  display: flex;
  margin: 0px auto 40px auto;
}

.feed {
  height: 440px;
  width: 400px;
  /* margin: 50px auto; */
  border: 2px solid blue;
  overflow-y: auto;
  /* display: inline; */
}

.user {
  text-align: left;
}

.msg {
  border: 2px solid green;
  border-radius: 5px;
  height: 140px;
  width: 500px;
}

span {
  display: block;
}

textarea {
  width: 500px;
  height: 100px;
}

.profileanddms {
  display: flex;
}

.myprofile {
  border: 2px solid red;
  width: 400px;
  height: 240px;
}



/* dms */
.dms {
  width: 400px;
  height: 240px;
  border: 1px dashed grey; 
}

.dmsprofile {
  border: 1px solid white;
 height: 35px;
}

.messages {
  border: 1px solid white;
  height: 160px;
  overflow-y: auto;
}

.dmsinputarea{
  flex-grow: 1;
  height: 40px;
  border: 1px solid white
}

input{
  width: 250px;
}



.profile {
  border: 2px solid red;
}

.follower {
  border: 2px solid white;
}

.login {
  border: 2px solid red;
  height: 150px;
}

.followerlist {
  border: 2px solid white;
  height: 395px;
  overflow-y: auto;
}

.browse {
  border: 2px solid magenta;
  height: 350px;
  overflow-y: auto;
}

.username {
  height: 15px;
  width: 100px;
}

.reactions {
  display: inline;
  width: 100px;
  height: 80px;
  /* border: 2px solid green; */
}

.reaction {
  display: inline;
}

.followers {
  display: flex;
  width: 200px;
  border: 2px solid red;
}

* {
  /* border: 2px solid red; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
